#chat {
    height: 88%;
    width: 100%;
    background: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    margin: 0px;
    padding: 0px;
}

#ctrls {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}

#id {
    width: 15%;
    background: rgb(182, 250, 205);
    text-align: center;
}

#top {
    background: rgb(247, 215, 173);
    height: 5%;
}

#name {
    font-size: 25px;
    font-family: sans-serif;
    color: rgb(19, 77, 77);
    margin-left: 20%;
}

#textbox {
    width: -webkit-fill-available;
    padding: 10px;
    font-size: 18px;
    z-index: 1;
    position: fixed;
    top: 92%;
}

#count {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 7px;
    color: maroon;
}

div#top {
    display: flex;
}

.msgobj {
    width: 90%;
    margin-left: 5%;
   /* background-color: #7bf795;*/
}

.msgobj.me {
    /*background-color: #17e64f40;*/
    color : rgb(0, 130, 48)
}

.sender {
    float: left;
    margin: 0px 15px 0px 4px;
    color: red
}

.green {
    width: 90%;
    margin-left: 5%;
    color:  rgb(82, 207, 109);
    text-align: center;
}

.red {
    width: 90%;
    margin-left: 5%;
    color: rgb(223, 58, 46);
    text-align: center;
}

.yellow {
    background: rgb(223, 197, 46);
    width: 90%;
    margin-left: 5%;
    color: rgb(255, 255, 255);
    text-align: center;
}


.typingbadge {
    background: rgb(238, 226, 114);
    width: 90%;
    margin-left: 5%;
}